@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: "Lato", serif;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 50px 0px;
    gap: 24px;
}

header .perfil{
    height: 344px;
    width: 369px;
    border-radius: 10px;
}

header .perfil .img-perfil{
    height: 260px;
    width: 369px;
    background-image: url(../img/foto.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
}

header .perfil .name-perfil{
    padding: 10px;
}

header .perfil .name-perfil strong{display: block;}
header .perfil .name-perfil small{
    font-size: 16px;
    color: #6C757D;
}

header .name{
    height: 324px;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

main{
    max-width: 1200px;
}

main h2{
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DEE2E6;
}

main .projects .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

footer{
    height: 67px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-top: 1px solid #DEE2E6;
}

footer h2{
    font-size: 16px;
    color: #6C757D;
    font-weight: 400;
}

@media (max-width: 600px) {
    header{
        width:  100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px 0px 25px 0px;
    }

    header .perfil{
        width:  100%;
    }

    header .perfil .img-perfil{
        height: 264px;
        width:  100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    header .name{
        border-radius: 8px;
        width: auto;
        height: auto;
    }

    main .projects .cards{
        justify-content: space-evenly;
    }
}