@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html, body {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: "Lato", serif;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
}

main .sec1 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 2rem;
}

main .sec1 .left {
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

main .sec1 .left figure {
    margin: 0;
}

main .sec1 .right {
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

main .sec2 {
    display: flex;
    flex-direction: column;
}

main .sec2 .title {
    border-bottom: 1px solid black;
}

